<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCodeFormValid</strong>
	<span id="TestSNPCodeFormValid">0</span>
</p>

<p>
	<strong>SNPCodeFormNotValid</strong>
	<span id="TestSNPCodeFormNotValid">0</span>
</p>
