<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.js',
	'/_shared/__external/launchlet/__compiled/launchlet.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCollectDetailDispatchBack</strong>
	<span id="TestSNPCollectDetailDispatchBack">0</span>
</p>

<p>
	<strong>SNPCollectDetailDispatchUpdate</strong>
	<span id="TestSNPCollectDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>SNPCollectDetailDispatchClone</strong>
	<span id="TestSNPCollectDetailDispatchClone">0</span>
</p>

<p>
	<strong>SNPCollectDetailDispatchDiscard</strong>
	<span id="TestSNPCollectDetailDispatchDiscard">0</span>
</p>

<p>
	<strong>SNPCollectDetailDispatchPreventEscapeDefault</strong>
	<span id="TestSNPCollectDetailDispatchPreventEscapeDefault">0</span>
	<span id="TestSNPCollectDetailDispatchPreventEscapeDefaultData"></span>
</p>
