<%
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'__compiled/ui-style.css',

	'/_shared/__external/launchlet/__compiled/launchlet.js',
	'/_shared/__external/launchlet/__compiled/launchlet.css',
];
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPPlayDetailDispatchBack</strong>
	<span id="TestSNPPlayDetailDispatchBack">0</span>
</p>

<p>
	<strong>SNPPlayDetailDispatchUpdate</strong>
	<span id="TestSNPPlayDetailDispatchUpdate">0</span>
</p>

<p>
	<strong>SNPPlayDetailDispatchQueue</strong>
	<span id="TestSNPPlayDetailDispatchQueue">0</span>
</p>

<p>
	<strong>SNPPlayDetailDispatchDiscard</strong>
	<span id="TestSNPPlayDetailDispatchDiscard">0</span>
</p>
