<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCollectFormNotValid</strong>
	<span id="TestSNPCollectFormNotValid">0</span>
	<span id="TestSNPCollectFormNotValidData"></span>
</p>

<p>
	<strong>SNPCollectFormValid</strong>
	<span id="TestSNPCollectFormValid">0</span>
	<span id="TestSNPCollectFormValidData"></span>
</p>

<p>
	<strong>SNPCollectFormDidFill</strong>
	<span id="TestSNPCollectFormDidFill">0</span>
	<span id="TestSNPCollectFormDidFillData"></span>
</p>

<p>
	<strong>SNPCollectFormDidSubmit</strong>
	<span id="TestSNPCollectFormDidSubmit">0</span>
	<span id="TestSNPCollectFormDidSubmitData"></span>
</p>
