<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCodeFormDidSubmit</strong>
	<span id="TestSNPCodeFormDidSubmit">0</span>
	<span id="TestSNPCodeFormDidSubmitData"></span>
</p>
