:root {
	--OLSKCommonForeground: black;
}

.OLSKBanner {
	display: none;
}

.SNPGenerate {
	background: var(--OLSKCommonBackground);
	padding: 10px;
	padding-bottom: 2px;
	border-radius: 5px;
}

@media (min-width: 450px) {

	.OLSKViewport {
		max-width: 600px;
		max-height: 600px;
	}

}

.OLSKViewportContent {
	display: unset;
	padding: 0;
}

.SNPMake {
	padding: 0;
	width: 100%;
}

.SNPDownloadHeading {
	display: none;
}

.SNPScanFileInput {
	max-width: 45%;
}

.SNPGenerateShareLink {
	border-width: 1px !important;
	font-weight: normal;
	padding: 10px 4px;
	position: relative;
	left: -16px;
}
