<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPFormDidSubmit</strong>
	<span id="TestSNPFormDidSubmit">0</span>
	<span id="TestSNPFormDidSubmitData"></span>
</p>
