<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<p>
	<strong>SNPFormNotValid</strong>
	<span id="TestSNPFormNotValid">0</span>
</p>

<p>
	<strong>SNPFormValid</strong>
	<span id="TestSNPFormValid">0</span>
	<span id="TestSNPFormValidData"></span>
</p>

<p>
	<strong>SNPFormDidSubmit</strong>
	<span id="TestSNPFormDidSubmit">0</span>
	<span id="TestSNPFormDidSubmitData"></span>
</p>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>
