<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCodeMakeDispatchNote</strong>
	<span id="TestSNPCodeMakeDispatchNote">0</span>
</p>

<p>
	<strong>SNPCodeMakeDispatchLink</strong>
	<span id="TestSNPCodeMakeDispatchLink">0</span>
</p>
