<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPCollectFormDidSubmit</strong>
	<span id="TestSNPCollectFormDidSubmit">0</span>
	<span id="TestSNPCollectFormDidSubmitData"></span>
</p>
