:root {
	--OLSKCommonBackground: #FFF9E5;
	--OLSKDecorBackgroundDeep: #fff4c5;
	--OLSKCommonForeground: rgb(255, 128, 0);

	--OLSKCodeForeground: #7c7b5b;
	--OLSKCodeBackground: #e8e1a3;

	--OLSKDecorForegroundLight: #999;
}

a {
	color: rgb(255, 93, 35);
}
