<div class="SNPRootLink">

<%- include('../../../node_modules/OLSKRootLink/main.ejs', {
	OLSKRootLinkURL: OLSKCanonicalLocalized('SNPVitrineRoute'),
	OLSKRootLinkImageURL: '/_shared/SNPRootLink/ui-assets/identity.svg',
}) %>

</div>
