<%
locals.OLSKPagePublicConstants = {
	OLSKSharedPageCurrentLanguage,
};
%>

<script src="/<%= OLSKSharedPageControllerSlug %>/__compiled/ui-behaviour.js"></script>

<p>
	<strong>SNPFormDidFill</strong>
	<span id="TestSNPFormDidFill">0</span>
	<span id="TestSNPFormDidFillData"></span>
</p>

<p>
	<strong>SNPFormNotValid</strong>
	<span id="TestSNPFormNotValid">0</span>
</p>

<p>
	<strong>SNPFormValid</strong>
	<span id="TestSNPFormValid">0</span>
	<span id="TestSNPFormValidData"></span>
</p>
