<%
locals.OLSKPageTitle = OLSKLocalized('SNPGuideTitle');
locals.OLSKPageDescription = OLSKLocalized('SNPGuideDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="SNPGuide OLSKDecor OLSKDecorCapped">

<div class="SNPGuideCrown OLSKCommonCard OLSKCommonCrownCard">
	<section>
		<span class="SNPGuideCrownName"><%= OLSKLocalized('SNPGuideTitle') %></span>
	</section>
</div>

<div class="SNPGuideContent">
<%- OLSKStringReplaceTokens(SNPGuideContent, {}) %>

</div>

<hr role="presentation" />

<%- include('../_shared/SNPRootLink/main.ejs') %>

</div>
