<%
locals.OLSKPageTitle = OLSKLocalized('SNPGuideTitle');
locals.OLSKPageDescription = OLSKLocalized('SNPGuideDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="SNPGuide OLSKDecor OLSKDecorCapped">

<div class="SNPGuideCrown OLSKCommonCard OLSKCommonCrownCard">
	<section>
		<span class="SNPGuideCrownName"><%= OLSKLocalized('SNPGuideTitle') %></span>
	</section>
</div>

<div class="SNPGuideContent">
<%- OLSKStringReplaceTokens(SNPGuideContent, {
	SNPGuideTokenTextbox1a: 'alfa\nbravo',
	SNPGuideTokenTextbox1b: 'alfa\nbravo\nhttps://example.com',
	SNPGuideTokenTextbox2a: 'alfa\n\nbravo',
	SNPGuideTokenTextbox2b: 'alfa\nbravo\nhttps://example.com/1\n\ncharlie\nhttps://example.com/2',
	SNPGuideTokenTextbox2c: 'alfa https://example.com/1\nbravo https://example.com/2',
	SNPGuideTokenTextbox2d: 'alfa https://example.com/1 https://ex\nample.com/2',
}) %>

</div>

<hr role="presentation" />

<%- include('../_shared/SNPRootLink/main.ejs') %>

</div>
